:root {
    --general-rext: #000000;
    --general-text: #FFFFFF;
    --general-bd: #DE343D;
    --general--main: #9C9C9C;
    --menu--main: #F9F9F9;
    --transition: all .4s;
}



.body{
    font-family: 'MonumentExtended-Regular';
    font-weight: 400;
    color: var(--general-rext);
}

