.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

   
}


.container {
    max-width: 1520px;
    padding: 0 15px;
    height: 100%;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:30px 0;
    z-index: 1;
}

.nav__sear{

    position: absolute;
    right: 0;
}


.nav__list {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    gap: 4vh 30px;
    margin: 0 auto;
}

.nav__item{
    display: contents
}
.nav__link{
    font-family: "MonumentExtended-Regular", sans-serif;
   
    display: flex;
}


.img{
    display: flex;
    align-items: end;
    width: 200px;
  
    justify-content: center;
    align-items: center;
}

.img1{
    display: flex;
    align-items: end;
    width: 200px;
    height: 130px;
    justify-content: center;
    align-items: center;
}

.img__container{
    display: flex;
    align-items: end;

}
.img-poisk{
    width: 20px;
}
.img-poisk2 {
    width: 1.3px;
}
/* ================================ */

.photo__header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 750px;
    position: relative;
    transition: background 0.5s;
    padding: 180px 0;
}

.slider_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 0;
    gap:30px
}
.photo__nadpis {
    position: absolute;
    font-size: 17vw;
    opacity: 0.2;
    z-index: 2;
    user-select: none;
    pointer-events: none;
}
.text__air {
    font-family: "MonumentExtended-Regular", sans-serif;
    font-weight: 500;
    color: var(--general-text);
}
@keyframes rotateSet {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.photo__set  {
    position: absolute;
    display: flex;
    width: 330px;
    height: 433px;
    z-index: 1; 
    animation: rotateSet 30s linear infinite; 
    transform-origin: center center;
}




.photo__img img {
    width: 400px;
    height: 400px
}


.photo__img {
    z-index: 4;
}

.input{
    display: contents;
}
/* ======================================== */
.button {
    position: absolute; 
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffffff; 
    color: #ffffff;
    padding: 10px 15px;
    background: transparent;
    cursor: pointer;

}

.button:hover {
    background-color: #fff;
    color: #000;
}



.dots{
   position: absolute;
   top: 25%;
   left:20px;
   transform: translate(-50%);
   display: flex;
   flex-direction: column;
   gap: 50px;
   z-index: 6;
}

.dot{
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slides {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    z-index: 11;
}

.slide{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slide img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

