@import "global.css";
@import "header.css";
@import "reset.css";
@import "fonts.css";
/* ============================================== */

.testimonials__text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--general-bd);
    font-weight: 600;
    font-size: 30px;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.testimonials__slides-viewport { 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;

}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    justify-content: flex-start;;
    align-items: center;
    gap: 10px;
}

.swiper-slide {

}

.testimoials__krossovki {
        
    border-radius: var(--border-radius);
    display: block;
    gap: 10px;
    /* transition: var(--transition); */

    height: auto;
}
.testimoials__krossovki-img {
    background: var(--menu--main);
    overflow: hidden;
    margin-bottom: 20px;
    padding:54px;
}

.testimonials__krossovki-brend{
    color: var(--general--main);
}

.testimoials__krossovki-name {
    color: #000000;
    font-weight: 500;
}

.testimoials__krossovki-sizes {
    color: var(--general-bd);
    font-weight: 400;
}



.testimoials__iner {
    position: relative;

}

.img__strelki1,
.img__strelki2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease;
}

.img__strelki1:hover,
.img__strelki2:hover {
    transform: translateY(-50%) scale(1.1);
}

.img__strelki2 {
    left: -60px; 
}


.img__strelki1 {
    right: -60px;
}

.click_see{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.button_all{
    border: 2px solid var(--general--main);
    color: var(--general--main);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* ======================================= */
.global__container {

}
.main__global-container {
 
    justify-content: center;
    align-items: center;
    position: relative;
    display:flex
}

.text__img {
    overflow-wrap: break-word;
    line-height: 25px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

.text__img p {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MonumentExtended-Regular';
    font-weight: 400;
    width: 1450px;
}

.text__img img {
    display: inline;
    vertical-align: middle;
    width: 220px;
    height: 150px;
    position: relative;
    z-index: 1;
}

.img__span1::before {
    content: "";
    position: absolute;
    left: 31%;
    bottom: 65%;
    width: 7%;
    height: 15%;
    transform: translate(-50%) rotate(-3deg) scale(1.05);
    background: #000000;
    border-radius: 15px;
    z-index: 0;
}

.img__span2::before {
        content: "";
    position: absolute;
    left: 83%;
    bottom: 57%;
    width: 8%;
    height: 14%;
    transform: translate(-50%) rotate(0deg) scale(1.05);
    background: #FFB800;
    border-radius: 17px;
    z-index: 0;
}

.img__span3::before {
    content: "";
    position: absolute;
    left: 88%;
    bottom: 15%;
    width: 8%;
    height: 18%;
    transform: translate(-54%) rotate(-1deg) scale(1.05);
    background: #000000;
    border-radius: 35px;
    z-index: 0;
}
/* =============================== */
.brend__global {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.brend__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* =================================================== */

.marquee{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background: white;
    padding: 50px 0 0 0;
}

.track {
    display: flex;
    animation: scroll 15s linear infinite;
}
.item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #000;
    letter-spacing: 2px;
}

.item img {
    height: 24px;
    margin: 0 0.5rem;
}

@keyframes scroll {
    0% {transform: translateX(-50%);}
    100%{transform:translateX(0);}
}

.marquee:hover .track {
    animation-play-state: paused;
}

/* ============================ */


.user img{
    max-width: 1900px;
    max-height: 800px;
}

.user__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #FFB800 0%, #DE343D 100%);
    max-height: 750px; */
    position: relativ
}
.user__text {
    position: absolute;
    font-size: 255px;
    opacity: 0.2;
    z-index: 2;
    user-select: none;
    pointer-events: none;
    font-family: 'MonumentExtended-Regular';
    font-weight: 400;
}
.user__icons {
    position: absolute;
    display: flex;
    height: 250px;
}

/* ============================ */
.filter {
    max-width: 1200px;
    margin: 0 auto;
}
.filter__iconki{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.filter__iconki2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.text__Top p {
    font-size: 45px;
    color: var(--general-bd);
    font-family: "MonumentExtended-Regular", sans-serif;
    font-weight: 500;
    display: flex;
    justify-items: center;
    align-items: center;
}

.filter-button{
    border: 2px solid #9C9C9C;
    padding: 10px;
    background: #fff;
    color: var(--general--main);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.table__kross{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}
.kross__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.table__kross2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0 ;
}


.kross__container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


/* ================================= */

.footer__container {
    background: #F9F9F9;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: var(--general-bd);
}
.stolb1 {
}
.text1 {
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 24px 0;
    color: var(--general-bd);
    
}
.text {
}
.stolb2 {
}



/* ---------- 1200px ---------- */
@media (max-width: 1200px) {
  .hero__img { margin: 0; max-width: 377px; }
  .hero__img-conrol { position: static; max-width: none; margin-top: 30px; }
  .program__top { flex-direction: column; align-items: stretch; }
  .tab-conrols { flex-wrap: wrap; }
  .contact__inner::after { top: -20%; }
  .footer__inner { justify-content: space-between; grid-template: repeat(2, auto) / repeat(3, auto); }
  .footer__col:last-child { grid-column: 1 / -1; text-align: center; }
}

/* ---------- 1100px ---------- */
@media (max-width: 1100px) {
  .about__img { grid-row: auto; }
  .about__body { align-self: center; }
  .about__grid { grid-column: 1 / -1; }
  .accordion-list__control { padding: 25px 30px; font-size: 35px; }
  .accordion-content { gap: 30px; }
  .contact__inner { align-items: center; gap: 30px; }
}

/* ---------- 900px ---------- */
@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }
  .nav__list { flex-direction: column; align-items: center; }
  .body--opened-menu .nav { transform: translateY(0%); opacity: 1; visibility: visible; }
  .burger-icon { display: flex; }
  .program__action { max-width: none; grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr; }
  .program__img { display: none; }
  .gallery__inner { grid-template: none; }
  .gallery__info { max-width: none; }
  .gallery__img { display: none; }
  .testimonials__scrollbar.swiper-scrollbar { width: 50%; margin: 0 auto; }
  .contact__inner { justify-content: center; }
  .contact__img { display: none; }
  .footer__inner { justify-content: center; grid-template: none; text-align: center; gap: 0; }
  .footer__col:first-child { display: flex; flex-direction: column; align-items: center; margin-bottom: 40px; }
  .footer__col:nth-child(2) { margin-bottom: 40px; }
  .footer__col:nth-child(3) { margin-bottom: 10px; }
}

/* ---------- 800px ---------- */
@media (max-width: 800px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .hero__img { display: none; }
  .hero__img-conrol--mobile { display: flex; margin: 0 0 30px; }
  .about__inner { grid-template: none; }
  .about__img { max-width: 500px; justify-self: center; }
  .about__body { text-align: center; }
  .about__grid { grid-template: none; }
  .tab-conrols { gap: 10px; }
  .tab-conrols__link { padding: 6px 20px; }
  .accordion-content { flex-direction: column; }
  .accordion-content__col:first-child { max-width: none; }
  .accordion-content__text { max-width: none; }
  .testimonials__inner { align-items: stretch; flex-direction: column; }
  .testimonials__nav { align-self: end; }
  .contact__inner::before { content: none; }
}

/* ---------- 600px ---------- */
@media (max-width: 600px) {
  .main__about { padding: 60px 0 80px; }
  .main__program, .main__gallery, .main__testimonials { padding: 0 0 80px; }
  .title { font-size: 12vw; }
  .header__hero { padding-bottom: 80px; }
  .about__img-conrol {
    bottom: 0; left: 0; right: 0; max-width: none; border-radius: 0; padding: 10px 15px;
  }
  .about__grid { gap: 15px; }
  .about__grid-item { padding: 10px 15px; }
  .program__title { text-align: center; }
  .program__top { text-align: center; margin-bottom: 20px; }
  .program__action { grid-template: repeat(3, auto) / auto auto; gap: 15px; }
  .program__discount { grid-row: auto; grid-column: 1 / -1; justify-self: center; }
  .tab-conrols { justify-content: center; }
  .accordion-list__item { margin-bottom: 10px; }
  .accordion-list__control { padding: 17px 30px; font-size: 28px; }
  .accordion-list__control-icon { width: 26px; height: 26px; }
  .accordion-list__control-icon svg { width: 10px; }

.gallery__content { flex-direction: column; }
  .gallery__inner { margin-bottom: 20px; }
  .testimonials__inner { margin-bottom: 20px; }
  .testimonials__slide { align-items: center; flex-direction: column; text-align: center; }
  .contact { padding-bottom: 80px; }
  .contact__title, .contact__text { text-align: center; }
}