@import "global.css";
@import "header.css";
@import "reset.css";
@import "fonts.css";
@import "burger.css";
/* ============================================== */

.testimonials__text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--general-bd);
    font-weight: 600;
    font-size: 30px;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.testimonials__slides-viewport { 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;

}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    justify-content: flex-start;;
    align-items: center;
    gap: 10px;
}

.swiper-slide {
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
}

.testimoials__krossovki {
        
    border-radius: var(--border-radius);
    display: block;
    gap: 10px;
    /* transition: var(--transition); */

    height: auto;
}
.testimoials__krossovki-img {
    background: var(--menu--main);
    overflow: hidden;
    margin-bottom: 20px;
    padding:54px;
}

.testimonials__krossovki-brend{
    color: var(--general--main);
}

.testimoials__krossovki-name {
    color: #000000;
    font-weight: 500;
}

.testimoials__krossovki-sizes {
    color: var(--general-bd);
    font-weight: 400;
}

 .testimoials__krossovki-img {
    display: flex;
    justify-content: center;
}

.testimoials__iner {
    position: relative;

}

.img__strelki1,
.img__strelki2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease;
}

.img__strelki1:hover,
.img__strelki2:hover {
    transform: translateY(-50%) scale(1.1);
}

.img__strelki2 {
    left: -10px; 
}


.img__strelki1 {
   right: -10px;
}

.click_see{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.button_all{
    border: 2px solid var(--general--main);
    color: var(--general--main);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* ======================================= */
.global__container {

}
.main__global-container {
 
    justify-content: center;
    align-items: center;
    position: relative;
    display:flex
}

.text__img {
    overflow-wrap: break-word;
    line-height: 25px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

.text__img p {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MonumentExtended-Regular';
    font-weight: 400;
    width: 1450px;
}

.text__img img {
    display: inline;
    vertical-align: middle;
    width: 220px;
    height: 150px;
    position: relative;
    z-index: 1;
}

.img__span1::before {
    content: "";
    position: absolute;
    left: 31%;
    bottom: 65%;
    width: 7%;
    height: 15%;
    transform: translate(-50%) rotate(-3deg) scale(1.05);
    background: #000000;
    border-radius: 15px;
    z-index: 0;
}

.img__span2::before {
        content: "";
    position: absolute;
    left: 83%;
    bottom: 57%;
    width: 8%;
    height: 14%;
    transform: translate(-50%) rotate(0deg) scale(1.05);
    background: #FFB800;
    border-radius: 17px;
    z-index: 0;
}

.img__span3::before {
    content: "";
    position: absolute;
    left: 88%;
    bottom: 15%;
    width: 8%;
    height: 18%;
    transform: translate(-54%) rotate(-1deg) scale(1.05);
    background: #000000;
    border-radius: 35px;
    z-index: 0;
}
/* =============================== */
.brend__global {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.brend__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* =================================================== */

.marquee{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    background: white;
    padding: 50px 0 0 0;
}

.track {
    display: flex;
    animation: scroll 15s linear infinite;
}
.item {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #000;
    letter-spacing: 2px;
}

.item img {
    height: 24px;
    margin: 0 0.5rem;
}

@keyframes scroll {
    0% {transform: translateX(-50%);}
    100%{transform:translateX(0);}
}

.marquee:hover .track {
    animation-play-state: paused;
}

/* ============================ */


.user img{
    max-width: 1900px;
    max-height: 691px;
}

.user__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #FFB800 0%, #DE343D 100%);
    max-height: 750px; */
    position: relativ
}
.user__text {
    position: absolute;
    font-size: 255px;
    opacity: 0.2;
    z-index: 2;
    user-select: none;
    pointer-events: none;
    font-family: 'MonumentExtended-Regular';
    font-weight: 400;
}
.user__icons {
    position: absolute;
    display: flex;
    height: 250px;
}

/* ============================ */
.filter {
    max-width: 1200px;
    margin: 0 auto;
}
.filter__iconki{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.filter__iconki2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.text__Top p {
    font-size: 45px;
    color: var(--general-bd);
    font-family: "MonumentExtended-Regular", sans-serif;
    font-weight: 500;
    display: flex;
    justify-items: center;
    align-items: center;
}

.filter-button{
    border: 2px solid #9C9C9C;
    padding: 10px;
    background: #fff;
    color: var(--general--main);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.table__kross{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}
.seller__container{
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 32px;
    justify-content: center;
    grid-template-columns: repeat(3, 350px)

}





/* ================================= */

.footer__container {
    background: #F9F9F9;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding: 50px;
    color: var(--general-bd);
}
.stolb1 {
}
.text1 {
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: px 0;
    color: var(--general-bd);
    
}
.text {
}
.stolb2 {
}

/* До 1200px */
@media (max-width: 1200px) {
    .photo__set  .photo__header img {
        max-width: 100%;
        height: auto;
        
    }

    .testimonials__slides-viewport {
        padding: 0 20px;
    }

    .testimonials__krossovki {
        max-width: 250px;
    }

    .button_all {
        font-size: 14px;
        padding: 10px 20px;
    }

  .photo__nadpis {
        font-size: 16vw;
    }

    .text__img p{
        font-size: 6vw;
    }

     .text__img img{}

    .text__img span {}

    .user img{
     width: 98vw;
    }
    
    .user__text p {
        font-size: 15vw;
    }
    .user__icons img{
        width: 45vw;
    }
}

/* До 1100px */
@media (max-width: 1100px) {
    .nav__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .photo__nadpis {
        font-size: 16vw;
    }

    .testimonials__krossovki-name {
        font-size: 14px;
    }
     .photo__set {
        
    }
       .text__img p{
        font-size: 6vw;
    }

     .text__img img{}

    .text__img span {}

      .user img{
        
    }
    
    .user__text p {
        font-size: 15vw;
    }
    .user__icons img{ }
}

/* До 900px */
@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        background: #fff;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 100;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        flex-direction: column;
        gap: 15px;
    }

    .slides {
        flex-direction: column;
        align-items: center;
    }

    .testimonials__krossovki {
        margin-bottom: 20px;
    }

    .burger { display: flex;}
    .nav__list { display: none; }

       .text__img p{
        font-size: 5vw;
    }

     .text__img img{
        width: 25vw;
        height: 18vw;
     }

    .text__img span {}

      .user img{
    
    }
    
    .user__text p {
        font-size: 15vw;
    }
    .user__icons img{ }
}

/* До 800px */
@media (max-width: 800px) {
    .photo__nadpis {
        font-size: 16vw;
    }

    .slides img {
        width: 70vw;
    }

    .testimonials__slide {
        flex-direction: column;
        text-align: center;
    }

    .testimonials__krossovki-rub,
    .testimonials__krossovki-sizes {
        font-size: 12px;
    }

    .brend__container img {
        height: 30px;
        margin: 0 5px;
    }

       .text__img p{
        font-size: 4vw;
    }

     .text__img img{
        width: 25vw;
        height: 20vw;
     }

    .text__img span {}

      .user img{
      
    }
    
    .user__text p {
        font-size: 15vw;
    }
    .user__icons img{ }
   
    .text__Top p{
        font-size: 4vw;
    }

    .kross__container{
        flex-direction: column;
    }
    .kross__container2{
        flex-direction: column;
    }

    .footer__container{
        flex-direction: column;
    }

.img__span1::before{
display: none;
}
.img__span2::before{
    display: none;
}
.img__span3::before{
    display: none;
}

}

/* До 450px */
@media (max-width: 450px) {
    .nav__link input {
        display: none;
    }

    .photo__nadpis {
        font-size: 16vw;
    }



    .testimonials__slide {
        padding: 20px 5px;
    }

    .button {
        font-size: 14px;
    }

    .brend__container img {
        height: 25px;
        margin: 0 3px;
    }
     .photo__set img {
        width: 75vw;
        height: 75vw;
    }
       .text__img p {
        font-size: 3vw;
    }

    .text__img img{}
    .text__img span {}

      .user img{
        
    }
    
    .user__text p {
        font-size: 15vw;
    }
    .user__icons img{ }

     .kross__container{
        flex-direction: column;
    }
    .kross__container2{
        flex-direction: column;
    }
}